version: '3.8'

services:

  app:
    build: 
      context: .
      dockerfile: Dockerfile
    expose:
      - "4000"
    environment:
      - MONGO_URL=
      - JWT_SECRET=
      - PORT=
      - SUB_IMAGE_URL=
      - HOST=app
    volumes:
      - ./repository:/app/repository
    depends_on:
      - mongodb
      - sub-image

  sub-image:
    build:
      context: .
      dockerfile: Dockerfile.sub-image
    expose:
      - "4003"
    environment:
      - RUST_LOG=info
      - HOSTS_BACKEND=http://app:4000

  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  caddy:
    image: caddy:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app
      - sub-image



volumes:
  mongodb_data:
  caddy_data:
  caddy_config:
